<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta name="theme-color" content="#03c75a"> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script src="https://kit.fontawesome.com/b0822c7a94.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/style.css}">
  <script th:src="@{/common.js}"></script>
  <!-- <style>
    .rating-container {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    .star {
        cursor: pointer;
        transition: fill 0.3s;
        fill: #ccc; /* 기본 별 색상 */
    }
    .star.selected {
        fill: #FFD700; /* 선택된 별 색상 */
    }
  </style> -->
</head>
<body>
  <div id="wrap" class="d-flex flex-column min-vh-100" style="padding-top: 48px;">
    <!-- 네비/헤더 -->
    <div th:insert="~{fragments/sideheader::sideheader('리뷰')}" class="px-0 container-sm fixed-top"></div>

    <!-- 컨텐츠 -->
      <div class="container-sm px-4" style="padding-bottom: 48px;">
        <th:block th:if="${orderItems != null}" th:each="order : ${orderItems}">
          <p th:text="${order.formattedOrderDate}"></p>
          <div class="col-md-3" th:each="product : ${order.products}">
            <p class="fw-bold text-secondary" th:text="${product.store_name}"></p>
            <th:block th:each="option : ${product.options}">
              <img class="w-25 rounded" th:src="${product.image_url}" alt="">
              <p th:text="${product.title}"></p>
              <th:block th:each="optionDetail, stat : ${option.optionDetails}">
                <span class="m-0" th:each="value :${optionDetail.values()}" th:text="${value}"></span>
                <span th:if="${!stat.last}"> x </span>
              </th:block>
              <span class="m-0" th:text="'/ ' + ${option.quantity}"></span>

              <div class="d-flex align-items-center justify-content-between mt-1">
                <form action="/ratingProcess" method="POST" class="d-flex" th:if="${option.rating == null}">
                  <input type="hidden" name="order_detail_id" th:value="${option.order_detail_id}"> 
                  <button id="star1" name="rating" value="1"></button>
                  <label for="star1" title="text">☆</label>
                  <button id="star2" name="rating" value="2"></button>
                  <label for="star2" title="text">☆</label>
                  <button id="star3" name="rating" value="3"></button>
                  <label for="star3" title="text">☆</label>
                  <button id="star4" name="rating" value="4"></button>
                  <label for="star4" title="text">☆</label>
                  <button id="star5" name="rating" value="5"></button>
                  <label for="star5" title="text">☆</label>
                </form>

                <div class="rating" th:if="${option.rating != null}">
                  <span th:each="i : ${#numbers.sequence(1, 5)}" 
                        th:classappend="${i <= option.rating} ? 'rating-color' : ''">★</span>
                </div> 

                <form action="/reviewContentProcess" method="POST" class="d-flex gap-1" th:if="${option.review_content == null}">
                  <input type="hidden" name="order_detail_id" th:value="${option.order_detail_id}"> 
                  <input class="flex-fill" type="text" name="review_content" id="review_content">
                  <button class="btn btn-primary main-bg-color border-0">등록</button>
                </form>
                
                <div th:if="${option.review_content != null}" th:text="${option.review_content}"></div>
              </div>
            </th:block>
          </div>
        </th:block>
        </div>
      </div>

    <!-- 하단 푸터 -->
    <div th:insert="~{fragments/footer::footer}" class="container-sm fixed-bottom"></div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
  </script>
  <!-- <script>
      // 각 상품별로 별점 컨테이너와 이벤트를 개별 설정
      document.querySelectorAll(".rating-container").forEach((productRating,idx) => {
          const stars = productRating.querySelectorAll(".star");
          const ratingValue = document.querySelectorAll(".ratingValue");

          function handleStarClick(event) {
              const clickedIndex = Array.from(stars).indexOf(event.currentTarget);

              // 선택한 별과 이전 별까지 모두 'selected' 클래스 추가
              stars.forEach((star, index) => {
                  star.classList.toggle("selected", index <= clickedIndex);
              });

              // 평점 값 업데이트
              const rating = clickedIndex + 1;
              ratingValue[idx].innerText = rating;
              console.log("평점:", rating);

              // 모든 별에서 클릭 이벤트 제거
              stars.forEach(star => {
                  star.removeEventListener("click", handleStarClick);
              });
          }

          // 각 별에 클릭 이벤트 리스너 추가
          stars.forEach(star => {
              star.addEventListener("click", handleStarClick);
          });
      });
  </script> -->
</body>

</html>