<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta name="theme-color" content="#03c75a"> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script src="https://kit.fontawesome.com/b0822c7a94.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/style.css}">
  <!-- <style>
    .rating-container {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    .star {
        cursor: pointer;
        transition: fill 0.3s;
        fill: #ccc; /* 기본 별 색상 */
    }
    .star.selected {
        fill: #FFD700; /* 선택된 별 색상 */
    }
  </style> -->
</head>
<body>
  <div id="wrap" class="d-flex flex-column min-vh-100" style="padding-top: 48px;">
    <!-- 네비/헤더 -->
    <div th:insert="~{fragments/sideheader::sideheader('리뷰')}" class="px-0 container-sm fixed-top"></div>

    <!-- 컨텐츠 -->
    <div class="container-sm p-4">
      <!-- 리뷰 작성 -->
      <div class="mb-4 pb-4 border-bottom">
        <p class="fs-1-5 fw-semibold ">리뷰 작성</p>
        <div th:if="${hasReviewsState}">
          <div th:each="order : ${orderList}">
            <div th:if="${order.ProductOrderDto.status == '배송완료' && order.ProductReview == null}">
              <div class="d-flex fs-13 mb-2 back-bg" >
                <img class="me-2" style="object-fit: cover; width: 18%;" th:src="|/uploadFiles/${order.ProductDto.main_page_url}|" th:alt="${order.ProductDto.title}"></img>
                <ul class="flex-fill p-2">
                  <li class="lh-sm my-1">
                    <a th:href="@{/product(id=${order.ProductDto.product_id})}" th:text="${order.ProductDto.title}">상품명</a>
                  </li>
                  <li class="fs-14 text-secondary">100 / 2개</li>
                </ul>
              </div>
              <!-- <div>
                <p th:text="${order.ProductOrderDto.order_date}"></p>
                <p th:text="${order.ProductOrderDto.status}"></p>
                <p class="m-0" th:text="|구매일 : ${order.ProductOrderDto.order_date}|"></p>
                <a class="my-2 text-decoration-underline" th:href="@{/product(id=${order.ProductDto.product_id})}"
                  th:text="${order.ProductDto.title}"></a>
              </div> -->

              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <form action="/ratingProcess" method="POST" class="d-flex" th:if="${order.ProductReview == null || order.ProductReview.rating == 0}">
                    <input type="hidden" name="product_id" th:value="${order.ProductDto.product_id}"> 
                    <input type="hidden" name="order_id" th:value="${order.ProductOrderDto.order_id}"> 
                    <button id="star1" name="rating" value="1"></button>
                    <label for="star1" title="text">☆</label>
                    <button id="star2" name="rating" value="2"></button>
                    <label for="star2" title="text">☆</label>
                    <button id="star3" name="rating" value="3"></button>
                    <label for="star3" title="text">☆</label>
                    <button id="star4" name="rating" value="4"></button>
                    <label for="star4" title="text">☆</label>
                    <button id="star5" name="rating" value="5"></button>
                    <label for="star5" title="text">☆</label>
                  </form>
                  
                  <div class="rating" th:if="${order.ProductReview != null && order.ProductReview.rating != 0}">
                    <span th:each="i : ${#numbers.sequence(1, 5)}" 
                          th:classappend="${i <= order.ProductReview.rating} ? 'rating-color' : ''">★</span>
                  </div> 
                </div>
                <div >
                  <form action="/reviewContentProcess" method="POST" class="d-flex gap-1" th:if="${order.ProductReview == null || order.ProductReview.content == null}">
                    <input type="hidden" name="product_id" th:value="${order.ProductDto.product_id}"> 
                    <input type="hidden" name="order_id" th:value="${order.ProductOrderDto.order_id}"> 
                    <input class="flex-fill" type="text" name="content" id="content">
                    <button class="btn btn-primary main-bg-color border-0">등록</button>
                  </form>
                  
                  <div class="d-flex" th:if="${order.ProductReview != null}">
                    <span class="flex-fill" th:text="${order.ProductReview.content}"></span>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>

        <div th:if="${!hasReviewsState}" class="fs-14 text-secondary">
          <p>리뷰를 작성할 상품이 없어요!</p>
        </div>
      </div>

      <div class="mb-4 pb-4 border-bottom">
        <p class="fs-1-5 fw-semibold ">작성한 리뷰</p>
        <div th:each="order : ${orderList}">
          <div th:if="${order.ProductOrderDto.status == '배송완료' && order.ProductReview != null && order.ProductReview.content != null}"   class="d-flex fs-13 mb-2 back-bg" >
            <img class="me-2" style="object-fit: cover; width: 18%;" th:src="|/uploadFiles/${order.ProductDto.main_page_url}|" th:alt="${order.ProductDto.title}"></img>
            <ul class="flex-fill p-2">
              <li class="lh-sm my-1">
                <a th:href="@{/product(id=${order.ProductDto.product_id})}" th:text="${order.ProductDto.title}">상품명</a>
              </li>
              <li class="fs-14 text-secondary">100 / 2개</li>
            </ul>
          </div>

          <div th:if="${order.ProductOrderDto.status == '배송완료' && order.ProductReview != null}" >
            <div class="align-items-center d-flex gap-2">
              <i class="bi bi-person-circle fs-1" style="color: #eaeaea;"></i>
              <span class="fs-14" th:text="${order.reviewer.nickname}"></span>
            </div>
            <p class="mb-2">
              <span class="rating-color">★ </span>
              <span th:if="${order.ProductReview.rating!=null}" class="fs-13 fw-bold" th:text="${order.ProductReview.rating}"></span>
              <span th:text="${#dates.format(order.ProductReview.created_date, 'YY.MM.dd')}" style="font-size: 12px; color: #c0c0c0;"></span>
            </p>
            <p class="mx-1 my-3" th:if="${order.ProductReview.content!=null}" th:text="${order.ProductReview.content}"></p>
            <!-- <p th:if="${order.ProductReview.seller_reply==null}" class="fs-13 m-0 p-3 text-secondary" style="background: #fafafb;">판매자가 아직 답글을 달지 않았습니다</p>
            <div class="position-relative">
              <p th:if="${order.ProductReview.seller_reply!=null}" class="fs-13 m-0 p-3 text-secondary" style="background: #fafafb;" th:text="${order.ProductReview.seller_reply}"></p>
              <span th:if="${order.ProductReview.reply_date!=null}" th:text="${#dates.format(order.ProductReview.created_date, 'YY.MM.dd')}" 
                class="position-absolute bottom-0 end-0" style="font-size: 12px; color: #c0c0c0;"></span>
            </div> -->
          </div>
        </div>

      </div>








      <!-- <div class="row mb-4 pb-4 border-bottom" th:each="order : ${orderList}">
        <p th:text="${order.ProductOrderDto.order_date}"></p>
        <p th:text="${order.ProductOrderDto.status}"></p>
        <p class="m-0" th:text="|구매일 : ${order.ProductOrderDto.order_date}|"></p>
        <a class="my-2 text-decoration-underline" th:href="@{/product(id=${order.ProductDto.product_id})}"
          th:text="${order.ProductDto.title}"></a>

        <div th:if="${order.ProductOrderDto.status != '배송완료'}">배송이 완료되어야 리뷰를 작성할 수 있어요!</div>
        <div th:if="${order.ProductOrderDto.status == '배송완료'}">
          <p class="m-0">리뷰 작성</p>
          <form action="/reviewContentProcess" method="POST" class="d-flex" th:if="${order.ProductReview == null || order.ProductReview.content == null}">
            <input type="hidden" name="product_id" th:value="${order.ProductDto.product_id}"> 
            <input type="hidden" name="order_id" th:value="${order.ProductOrderDto.order_id}"> 
            <input class="flex-fill" type="text" name="content" id="content">
            <button class="btn btn-primary main-bg-color border-0">등록</button>
          </form>
          
          <div class="d-flex" th:if="${order.ProductReview != null}">
            <span class="flex-fill" th:text="${order.ProductReview.content}"></span>
          </div>
          
          <form action="/ratingProcess" method="POST" class="d-flex" th:if="${order.ProductReview == null || order.ProductReview.rating == 0}">
            <input type="hidden" name="product_id" th:value="${order.ProductDto.product_id}"> 
            <input type="hidden" name="order_id" th:value="${order.ProductOrderDto.order_id}"> 
            <button id="star1" name="rating" value="1"></button>
            <label for="star1" title="text">☆</label>
            <button id="star2" name="rating" value="2"></button>
            <label for="star2" title="text">☆</label>
            <button id="star3" name="rating" value="3"></button>
            <label for="star3" title="text">☆</label>
            <button id="star4" name="rating" value="4"></button>
            <label for="star4" title="text">☆</label>
            <button id="star5" name="rating" value="5"></button>
            <label for="star5" title="text">☆</label>
          </form>
          
          <div class="rating" th:if="${order.ProductReview != null && order.ProductReview.rating != 0}">
            <span th:each="i : ${#numbers.sequence(1, 5)}" 
                  th:classappend="${i <= order.ProductReview.rating} ? 'rating-color' : ''">★</span>
          </div>  
        </div>
    
      </div> -->
    </div>

    <!-- 하단 푸터 -->
    <div th:insert="~{fragments/footer::footer}" class="container-sm fixed-bottom"></div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
  </script>
  <!-- <script>
      // 각 상품별로 별점 컨테이너와 이벤트를 개별 설정
      document.querySelectorAll(".rating-container").forEach((productRating,idx) => {
          const stars = productRating.querySelectorAll(".star");
          const ratingValue = document.querySelectorAll(".ratingValue");

          function handleStarClick(event) {
              const clickedIndex = Array.from(stars).indexOf(event.currentTarget);

              // 선택한 별과 이전 별까지 모두 'selected' 클래스 추가
              stars.forEach((star, index) => {
                  star.classList.toggle("selected", index <= clickedIndex);
              });

              // 평점 값 업데이트
              const rating = clickedIndex + 1;
              ratingValue[idx].innerText = rating;
              console.log("평점:", rating);

              // 모든 별에서 클릭 이벤트 제거
              stars.forEach(star => {
                  star.removeEventListener("click", handleStarClick);
              });
          }

          // 각 별에 클릭 이벤트 리스너 추가
          stars.forEach(star => {
              star.addEventListener("click", handleStarClick);
          });
      });
  </script> -->
</body>

</html>