<!-- <div th:fragment="footer" class="container-sm fixed-bottom" > -->
  <div th:fragment="buyfooter(productId)" class="row fs-2 bg-white text-center align-items-center border-top border-light-subtle" style="min-height: 68px;">
    <!-- <a th:href="@{/home}" class="col-2 pe-0">
      <div class="border border-subtle d-flex align-items-center justify-content-between" style="height: 50px; border-radius: 10px; color: #09aa5c;">
        <i class="flex-fill fs-5 bi bi-heart"></i>
      </div>
    </a> -->
    <div id="likeInput" class="col-2 pe-0">
      <!-- <input type="hidden" name="productId" th:value="${productId}">
      <button class="border border-subtle d-flex align-items-center justify-content-between" style="width: 100%; height: 50px; border-radius: 10px; color: #09aa5c;">
        <i th:if="${likeData==null}" class="flex-fill fs-5 bi bi-heart"></i>
        <i th:if="${likeData!=null}" class="flex-fill fs-5 bi bi-heart-fill"></i>
      </button> -->
    </div>
    <!-- <form id="orderForm" action="/order" method="POST" class="col-10"> -->
    <form id="orderForm" action="/temp_option" method="POST" class="col-10">
      <input type="hidden" name="productId" th:value="${productId}">
      <input class="button-style m-0 fs-1-5" type="submit" value="구매하기">
    </form>
    <!-- <a th:href="@{/order}" class="col-10">
      <div class="d-flex align-items-center justify-content-between button-style m-0 fs-1-5 main-bg-strong-color">
        <span class="flex-fill">구매하기</span>
      </div>
    </a> -->
  </div>
<!-- </div> -->