<!-- <div class="container-sm bg-primary main-bg-color"> -->
  <!-- <div class="container-sm main-bg-color">
    <div class="d-flex align-items-center" style="min-height: 48px;">
      <div class="me-auto"></div>
      <div class="pe-3 mt-1"><i class="fs-4 bi bi-suit-heart main-text-ligth-color"></i></div>
      <div class="pe-3"><i class="fs-3 bi bi-bag-check main-text-ligth-color"></i></div>
    </div>
  </div> -->
  <!-- <div th:fragment="header" class="container-sm sticky-top main-bg-color main-text-ligth-color"> -->
    <div th:fragment="sideheader(titleText)" class="bg-white border-bottom border-light-subtle d-flex px-2 text-center align-items-center justify-content-between" style="min-height: 48px;">
      <div class="back-icon position-absolute" onclick="back()"><i class="fs-4 bi bi-arrow-left"></i></div>
      <div class="flex-fill fs-1-5 fw-semibold" th:text="${titleText}">메뉴</div>
      <a th:if="${titleText != '로그인' && titleText != '회원가입' && titleText != '장바구니'}" th:href="@{/cart}" class="position-absolute end-0" style="padding-right: 18px;">
        <div>
          <i class="fs-3 bi bi-cart"></i>
        </div>
      </a>
    </div>
  <!-- </div> -->
<!-- </div> -->