<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.parkyangji.openmarket.backend.admin.mapper.AdminSqlMapper">

  <select id="selectLoginCheck" resultType="com.parkyangji.openmarket.backend.dto.SellerDto">
		select * from seller
		where username = #{username} and password = SHA2(concat(#{password}, '!@www'), '256')
  </select>

  <insert id="insertProduct">
    insert into product(category_id,seller_id,title,description, price ,main_page_url,total_quantity)
    values(#{category_id}, #{seller_id}, #{title}, #{description}, #{price}, #{main_page_url}, #{total_quantity})
  </insert>

  <select id="selectSellerProducts" resultType="com.parkyangji.openmarket.backend.dto.ProductDto">
    select * from product where seller_id = #{seller_id}
  </select>

  <select id="selectOrderByProductId" resultType="com.parkyangji.openmarket.backend.dto.ProductOrderDto">
    select * from product_order where product_id = #{product_id}
  </select>

  <select id="selectReviewByProductId" resultType="com.parkyangji.openmarket.backend.dto.ProductReviewDto">
    select * from product_review where product_id = #{product_id}
  </select>

  <insert id="inserReply">
    Update product_review set seller_reply = #{seller_reply}, reply_date = NOW() where review_id = #{review_id}
  </insert>

  <insert id="insertSeller">
      <!-- MySQL의 경우 LAST_INSERT_ID() 등을 활용 -->
      <selectKey keyProperty="seller_id" resultType="int" order="AFTER">
          SELECT LAST_INSERT_ID()
      </selectKey>
      INSERT INTO seller(username, password, store_name)
      VALUES(#{username}, SHA2(concat(#{password}, '!@www'), '256'), #{store_name})
  </insert>
</mapper>
